.react-flow__attribution {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.react-flow__controls-button {
  background: transparent;
  border: none;
}

.react-flow__controls-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}

.react-flow__controls-button path {
  fill: #fef08a;
}

.dependency-node {
  height: 50px;
  width: 70px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

.dependency-node-active {
  border: 3px solid #fef08a;
}

.dependency-node-stepactive {
  outline: 2px solid #0ea5e9;
}

.dependency-node-stepdone {
  opacity: 0.5;
}

.dependency-label {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  word-wrap: anywhere;
}

.dependency-label-false {
  border: 1px solid #ef4444 !important;
}

.dependency-label-correct {
  border: 1px solid #22c55e !important;
}

.max-w-3 {
  max-width: 65px;
  font-size: xx-small;
  padding: 2px;
  border: 1px solid #18181b;
  border-radius: 5px;
  max-lines: 1;
  overflow-x: scroll;
  resize: none;
  background: #18181b;
  color: #fef08a;
}