.MuiTextField-root > label{
    color: #fef08a;
}

.MuiInputBase-root > textarea{
    color: #fef08a !important;
    -webkit-text-fill-color: #fef08a !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: #fde047 !important;
}

.MuiInputBase-input{
    color: #fef08a !important;
  }

  .MuiFormHelperText-root{
    color: #fef08a !important;
  }

.border-color{
    border-color: #2f2f2f;
}